.imagesStyle {
    width: 400px;
    height: 300px;
    object-fit: cover;
}

.slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nextbutton {
    position: absolute;
    right: 215px;
    top: 150px;
}

.prevbutton {
    position: absolute;
    left: 177px;
    top: 150px;
}